* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2 {
    color: #612999;
    font-family: Rubik;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

body {
    background-color: #FFFFFF;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 128px;
    justify-content: space-between;
    align-items: center;
    font-family: Nunito;
    font-style: normal;
    line-height: normal;
    padding-left: 32px;
    background: #FFF;
    z-index: 1000;
}

nav > span {
    display: inherit;
    justify-content: start;
    align-items: center;
    color: #3E3F43;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    gap: 10px;
}

nav ul {
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
}

nav li {
    color: #612999;
    font-size: 30px;
}

nav li {
    font-weight: 400;
}

nav li:not(#selected_nav) :hover {
    color: #8c77a1;
}

#selected_nav :hover {
    font-weight: 700;
}

#flashy_top_area {
    background: url("../images/background_img.jpg") lightgray 50% / cover no-repeat;
    background-position: top;
    display: flex;
    width: auto;
    height: 797px;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 32px;
}

h1 {
    color: #612999;
    font-family: Nunito;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#flashy_top_area > p {
    width: 448px;
    color: #333;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#about_area {
    display: flex;
    flex-direction: column;
    background-color: #EFECFF;
    padding: 32px;
    gap: 24px;
}

#about_area > h2 {
    padding-bottom: 8px;
}

#about_area > p {
    color: #000;
    text-align: justify;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%;
}

#store_cards {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
}

#store_cards > h2 {
    width: 100%;
}

.store_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 376px;
    height: 496px;
    flex-shrink: 0;
    border-radius: 38px;
    background: #EFECFF;
    align-items: center;
    padding-bottom: 27px;
}

.store_card > div:first-child {
    display: flex;
    flex-direction: row-reverse;
    width: 376px;
    height: 276px;
    flex-shrink: 0;
    border-radius: 38px;

}

#store_card_1 {
    background: url("../images/Vinland_Saga.jpeg") lightgray 50% / cover no-repeat;
}

#store_card_2 {
    background: url("../images/Yakusoku_no_Neverland.jpg") lightgray 50% / cover no-repeat;
}

#store_card_3 {
    background: url("../images/Majo_no_Tabitabi.jpg") lightgray 50% / cover no-repeat;
}

#store_card_4 {
    background: url("../images/Cyberpunk_Edgerunners.jpg") lightgray 50% / cover no-repeat;
}

#store_card_5 {
    background: url("../images/Mushoku_Tensei_Isekai_Ittara_Honki_Dasu.jpg") lightgray 50% / cover no-repeat;
}

#store_card_6 {
    background: url("../images/Dororo.jpg") lightgray 50% / cover no-repeat;
}

.heart_icon {
    display: flex;
    width: 47px;
    height: 47px;
    justify-content: space-around;
    align-items: center;
    background: #EFECFF;
    border-radius: 50%;
    margin-top: 35px;
    margin-right: 42px;
}

.heart_icon > img {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    fill: #F51264;
}

.store_card > h3 {
    position: relative;
    color: #000;
    text-align: justify;
    font-family: Abel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 21px;
    padding-left: 32px;
}

.store_card > p {
    color: #333;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
}

.buy_item {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #612999;
    text-align: justify;
    font-family: Abel;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 32px;
    padding-right: 32px;
}

.shopping_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63px;
    height: 63px;
    background-color: #612999;
    border-radius: 50%;
}

.shopping_cart > img {
    display: block;
    position: relative;
    width: 31px;
    height: 31px;
    flex-shrink: 0;
    fill: #FFFFFF;
}

footer {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: auto;
    height: 287px;
    justify-content: start;
    align-items: start;
    font-family: Nunito;
    background-color: #EFECFF;
}

.footer_item {
    margin-left: 32px;
}

.footer_item:first-child {
    margin-top: 32px;
}

.footer_item:last-child {
    margin-bottom: 32px;
}

.footer_headline {
    color: #333333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

#footer_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    width: auto;
    column-gap: 150px;
    row-gap: 10px;
}

#footer_info > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer_links a {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer_icons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
}